{{> message }}
<div class="container">
  <form id='select' action="/">
    <select name="categoryId" id="category" class="select-box" onchange="submitForm()">
      {{#if selectedData}}
      {{#each selectedData}}
      <option value="none" selected disabled hidden>{{this.name}}</option>
      {{/each}}
      {{else}}
      <option value="none" selected disabled hidden>類別</option>
      {{/if}}
      {{#each category}}
      <option value={{this._id}} name={{this.name}}>{{this.name}}</option>
      {{/each}}
    </select>
  </form>
  <div class="total">
    總金額:
    <div class="totalAmount">{{totalAmount}}</div>
  </div>
  {{#each record}}
  <div class="list-wrapper">
    <div class="grid-item">
      <i class="{{this.icon}} icon"></i>
      <div class="activity">
        <div>{{this.name}}</div>
        <div>{{this.date}}</div>
      </div>
      <div class="price">{{this.amount}}</div>
    </div>
    <div class="function-wrapper">
      <form action="/cruds/{{this._id}}/edit" method="GET">
        <button class="edit">修改</button>
      </form>
      <form action="/cruds/{{this._id}}/?_method=DELETE" method="POST">
        <button class="delete">刪除</button>
      </form>
    </div>
  </div>
  {{/each}}
  <div class="new-item">
    <a href="/cruds/new" class="new">新增支出</a>
  </div>
</div>


<script>
  const alertMessage = document.querySelector('.alert-message')
  function submitForm() {
    document.querySelector('#select').submit();
  }
  alertMessage.classList.add('alert-message-index')
</script>
<script src="/javascripts/messageControl.js"></script>